/* app.css */

@import url('./button.css');

body {
  background-color: rgb(19, 17, 38);
}

h2 {
  margin: 0.5em;
}

p {
  color: white;
}

/* Add additional styles for your App component */
.App {
  text-align: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
  background-color: rgb(19, 17, 38);
}

.App-holder {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.horizontal-buttons {
  padding: 10px;
}

.button-selected {
  background-color: #9c9cbb;
  color: #000;
  border: 1px solid #000;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

/* Add styles for quotes container */
.class-container {
  margin-top: 20px; /* Adjust margin as needed */
  width: 75%;
  display: flex;
  flex-wrap: wrap; /* Allow quotes to wrap to the next row */
  justify-content: center; /* Center quotes horizontally */
}

/* Add styles for individual quotes */
.class {
  margin: 10px; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  width: 30%; /* Set width for two quotes per row */
  border-radius: 8px; /* Rounded corners */
  border: solid black;
  background-color: rgb(96, 83, 146);
}

/* Add styles for class.class text */
.class-course {
  font-size: 16px; /* Adjust font size as needed */
}

/* Add styles for class.class year */
.class-name {
  font-size: 14px; /* Adjust font size as needed */
}

.class-description {
  font-size: 14px; /* Adjust font size as needed */
}

.class-link {
  font-size: 14px;
}

a.class-link:link {
  color: lightpink;
}

a.class-link:visited {
  color: lightpink;
}

a.class-link:hover {
  color: lightblue;
}

